* {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border:none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

header {
    height: 80px;
    background: #000;
}
header > .container {
    width:1200px;
    margin:0 auto;
    background:#fff;
}

header > .container > a {
    display: block;
    float: left;
    margin: 5px 25px;
}
header > .container > a:hover {
    padding:2px;
}

header > .container > nav {
    float: right;
}

header > .container > nav > a {
    font-size: 24px;
    display: block;
    float: left;
    width:110px;
    height: 73px;
    line-height:73px;
    text-align: center;
    color: #fff;
}
header > .container > nav > a:hover,
header > .container > nav > a.active {
    padding-bottom: 7px;
}
.colorNav1 { background:#d40112}
.colorNav2 { background:#017fcb}
.colorNav3 { background:#78b917}
.colorNav4 { background:#feb917}
.colorNav5 { background:#f27c01}

.banner {
    background: #eaeaea;
}

.banner > ul {
    position: relative; 
    width:1490px;
    height: 560px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.banner > ul > li {
    position: absolute; /*绝对定位(相对于第一个具有relative或absolute的父元素)*/
    width: 600px;
    height: 300px;
    text-align: center;
    /* overflow: hidden; */
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.banner > ul > li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .active {
    z-index: 2;
    left: 0;
    right: 0;
    top: 37px;
    width: 900px;
    height: 500px;
    margin: auto;
    border: 2px solid #fff;
}

.banner .left {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
}

.banner .right {
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 50px;
    margin: auto;
}

.main {
    width:1200px;
    height: 470px;
    margin: 35px auto 0;
}

.main h1 {
    font-size:30px;
    font-weight:lighter;
    margin-bottom:25px;
}

.main h1 > samp {
    font-size:30px;
    color:#7c7c7c;
}

.main > aside {
    float: left;
    width:450px;
}

.main > article {
    float: right;
    width:720px;
}

.main > aside > dl {
    position: relative;
    display: block;
    height: 80px;
    margin-bottom: 17px;
}
.main > aside > dl > dt {
    position: absolute;
    /* top:-1px; */
    left: 92px;
    font-size:16px;
    font-weight:bold;
    line-height: 16px;
    text-decoration: underline;
}

.main > aside > dl >dd:first-of-type {
    position: absolute;
    left: 0;
}

.main > aside > dl > dd img {
    width:70px;
    height: 70px;
    object-fit: cover;
}
.main > aside > dl > dd:last-of-type {
    position: absolute;
    top:20px;
    left: 90px;
}

.main > article > p,
.main >article > img {
    margin-bottom:20px;
}

footer {
    background: #000;
    clear: both;
}
footer > .container {
    width:1200px;
    height: 70px;
    margin: 0 auto;  
}
footer > .container > p {
    line-height:70px;
    color: #fff;
    text-align: center;

}
