* {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border:none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

header {
    height: 80px;
    background: #000;
}
header > .container {
    width:1200px;
    margin:0 auto;
    background:#fff;
}

header > .container > a {
    display: block;
    float: left;
    margin: 5px 25px;
}
header > .container > a:hover {
    padding:2px;
}

header > .container > nav {
    float: right;
}

header > .container > nav > a {
    font-size: 24px;
    display: block;
    float: left;
    width:110px;
    height: 73px;
    line-height:73px;
    text-align: center;
    color: #fff;
}
header > .container > nav > a:hover,
header > .container > nav > a.active {
    padding-bottom: 7px;
}
.colorNav1 { background:#d40112}
.colorNav2 { background:#017fcb}
.colorNav3 { background:#78b917}
.colorNav4 { background:#feb917}
.colorNav5 { background:#f27c01}

.banner {
    background: #eaeaea;
}

.banner > ul {
    /* position: relative; */
    width:1490px;
    height: 538px;
    overflow: hidden;
    margin: 0 auto;
    padding-top:10px;
    /* text-align: center; */
}
.banner > ul > li {
    position: absolute; /*绝对定位(相对于第一个具有relative或absolute的父元素)*/
    width: 600px;
    height: 300px;
    text-align: center;
    /* overflow: hidden; */
}
.banner-active {
    z-index: 2;
    left: 0;
    right: 0;
    top: 37px;
    width:900px;
    height: 500px;
    margin:auto;
    border:2px solid #fff;

}
.banner-left {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50px;
    margin:auto;
}
.banner-right {
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 50px;
    margin:auto;
}

.banner > ul > li >img {
    position: absolute;
    /* display: inline; */
    left: -30%;
    height: 100%;
}